####################################
#### Server & DB Configurations ####
####################################

# Cache Configs
CACHE_STORE=database # Defaults to database. Other available cache store: redis and filesystem
CACHE_DIR=./data/cache # Directory to store the cache files if using filesystem cache
REDIS_URL=           # Redis URL - could be a local redis instance or cloud hosted redis. Also support rediss:// URLs
PGLITE_DATA_DIR=     #../pgLite/ if selecting a directory   --- or memory:// if selecting in memory

# Eliza Server & Port Config
SERVER_URL=http://localhost
SERVER_PORT=3000


# Stores characters set by using the direct API in the data/character folder for further load when the app restarts
USE_CHARACTER_STORAGE=false

# Logging
DEFAULT_LOG_LEVEL=debug # Default: everything. Other available log levels: debug, info, warn, error, fatal, silent
LOG_JSON_FORMAT=false            # Print everything in logger as json; false by default



GOOGLE_SEARCH_API_KEY=

GOOGLE_SEARCH_ENGINE_ID=

TINY_URL_API_KEY=

PEXEL_API_KEY=

# Twitter/X Configuration
TWITTER_DRY_RUN=false
MAX_TWEET_LENGTH=280
TWITTER_USERNAME= # Account username
TWITTER_PASSWORD= # Account password
TWITTER_EMAIL=   # Account email
TWITTER_2FA_SECRET=.

TWITTER_COOKIES_AUTH_TOKEN=
TWITTER_COOKIES_CT0=
TWITTER_COOKIES_GUEST_ID=

TWITTER_PRE_POST_HOOK_ENABLED=true

TWITTER_POLL_INTERVAL=25   # How often (in seconds) the bot should check for interactions
TWITTER_SEARCH_ENABLE=FALSE # Enable timeline search, WARNING this greatly increases your chance of getting banned
TWITTER_TARGET_USERS=       # Comma separated list of Twitter user names to interact with
TWITTER_RETRY_LIMIT=        # Maximum retry attempts for Twitter login
TWITTER_SPACES_ENABLE=false # Enable or disable Twitter Spaces logic
ENABLE_TWITTER_POST_GENERATION=true # Set to true to enable automatic tweet generation. If false, the bot will not generate or post tweets.
# Post Interval Settings (in minutes)
POST_INTERVAL_MIN=15 # Default: 90
POST_INTERVAL_MAX=15 # Default: 180
POST_IMMEDIATELY=  # Default: false
# Twitter action processing configuration
ACTION_INTERVAL=               # Interval in minutes between action processing runs (default: 5 minutes)
ENABLE_ACTION_PROCESSING=false # Set to true to enable the action processing loop
MAX_ACTIONS_PROCESSING=1       # Maximum number of actions (e.g., retweets, likes) to process in a single cycle. Helps prevent excessive or uncontrolled actions.
ACTION_TIMELINE_TYPE=foryou    # Type of timeline to interact with. Options: "foryou" or "following". Default: "foryou"
# CONFIGURATION FOR APPROVING TWEETS BEFORE IT GETS POSTED
TWITTER_APPROVAL_DISCORD_CHANNEL_ID=  # Channel ID for the Discord bot to listen and send approval messages
TWITTER_APPROVAL_DISCORD_BOT_TOKEN=   # Discord bot token (this could be a different bot token from DISCORD_API_TOKEN)
TWITTER_APPROVAL_ENABLED=             # Enable or disable Twitter approval logic #Default is false
TWITTER_APPROVAL_CHECK_INTERVAL=60000 # Default: 60 seconds

# Groq Configuration
GROQ_API_KEY=     # Starts with gsk_
SMALL_GROQ_MODEL=mistral-saba-24b
MEDIUM_GROQ_MODEL=    # Default: llama-3.3-70b-versatile
LARGE_GROQ_MODEL=     # Default: llama-3.2-90b-vision-preview
EMBEDDING_GROQ_MODEL= # Default: llama-3.1-8b-instant


# OpenAI Configuration
OPENAI_API_KEY=

TOGETHER_API_KEY=


#Below parameters are to be Ignored


# Web search API Configuration
TAVILY_API_KEY=
# News API Key
NEWS_API_KEY= # News API KEY from https://newsapi.org/

GNEWS_API_KEY= # GNews API KEY from https://gnews.io/docs/quickstart-api/





ETERNALAI_CHAIN_ID=8453   
# ElevenLabs Settings
ELEVENLABS_MODEL_ID=eleven_multilingual_v2
ELEVENLABS_VOICE_ID=21m00Tcm4TlvDq8ikWAM
ELEVENLABS_VOICE_STABILITY=0.5
ELEVENLABS_VOICE_SIMILARITY_BOOST=0.9
ELEVENLABS_VOICE_STYLE=0.66
ELEVENLABS_VOICE_USE_SPEAKER_BOOST=false
ELEVENLABS_OPTIMIZE_STREAMING_LATENCY=4
ELEVENLABS_OUTPUT_FORMAT=pcm_16000

# Hyperbolic Plugin Configuration
HYPERBOLIC_ENV=production
HYPERBOLIC_API_KEY=
HYPERBOLIC_GRANULAR_LOG=true
HYPERBOLIC_SPASH=true
HYPERBOLIC_LOG_LEVEL=debug
ETERNALAI_LOG=false #Default: false
# BitMind Bittensor API
BITMIND=true

FARCASTER_DRY_RUN=false       # Set to true if you want to run the bot without actually publishing casts
FARCASTER_POLL_INTERVAL=120   # How often (in seconds) the bot should check for farcaster interactions (replies and mentions)